.main-container {
    height: 1078px;
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.experience-professionnelle,
.certifications {
    margin-bottom: 1rem;
    padding: 15px;
}

.experience-professionnelle h3,
.certifications h3 {
    font-size: 1.35rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
    font-family: "Public Sans", "Times New Roman", Times, serif;
    letter-spacing: 2.2px;
    word-spacing: 2px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.experience-professionnelle p,
.certifications ul {
    margin-left: 1.5rem;
    font-family: "Raleway", "Times New Roman", Times, serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 1.0px;
    color: #000000;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.experience-professionnelle li > :last-child,
.certifications li > :last-child {
    margin-bottom: 0.5rem;
}

.certifications ul ul {
    margin-left: 2.5rem;
}


.formations-and-projects,
.education-history {
    margin-bottom: 1rem;
    padding: 15px;
}

.formations-and-projects h3,
.education-history h3 {
    font-size: 1.35rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
    font-family: "Public Sans", "Times New Roman", Times, serif;
    letter-spacing: 2.2px;
    word-spacing: 2px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.formations-and-projects p,
.education-history ul {
    font-family: "Raleway", "Times New Roman", Times, serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 1.0px;
    color: #000000;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}

.formations-and-projects li > :last-child,
.education-history li > :last-child {
    margin-bottom: 0.5rem;
}

.education-history ul li {
    line-height: 1.5;
}

.education-history ul li:last-child {
    margin-bottom: 0;
}

.formations-and-projects {
    margin-bottom: 1rem;
}

.formations-and-projects h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

.formations-and-projects p {
    color: #666;
    line-height: 1.5;
    margin-left: 20px;
}

.formations-and-projects p i {
    margin-right: 0.25rem;
    margin-left: -0.25rem;
}

.formations-and-projects p span {
    font-weight: bold;
    margin-right: 0.25rem;
    margin-left: -0.25rem;
}
